<html>
<head>
    <title>i am title, file uploads</title>
</head>
<body>
<h1>file upload</h1>
<%= typeof msg != 'undefined' ? msg : '' %>
<form action="/upload" method="POST" enctype="multipart/form-data">
    <span>File</span>
    <input name="myImage" type="file">
    <button type="submit">submit</button>
</form>
</body>
</html>